html {
  font-family: 'Crimson Text', serif;
  letter-spacing: 0.02rem;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.3;
  background-color: black;
  color: #E4E4E4;
}

body {
  width: 700px;
  margin: auto;
}

a {
  color: #6D9B80;
}

h1 {
  font-family: 'Rubik Mono One', serif;
  font-size: 38px;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: normal;
}

#band-name {
  text-align: center;
}
